<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="sid" value="xxx" />
        <add key="authtoken" value="xxx" />
        <add key="username" value="xxx" /> <!--Username for twilio login, just in case it's needed-->
        <add key="password" value="xxx" /> <!--Password for twilio login, just in case it's needed-->
        <add key ="dbuser" value="xxx"/>
        <add key ="dbpassword" value ="xxx"/>
    </appSettings>
  <connectionStrings>
    <add name="DBConn" connectionString="xxx"/>
  </connectionStrings>
</configuration>
