<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="sid" value="AC757f1654c71aa266af7f9f4cb94b66fa" />
        <add key="authtoken" value="ddd8819c1aca71da525d7aa4f9c38926" />>
        <add key="password" value="wisnif-bIzroz-1wahqy" />
    </appSettings>
</configuration>
