<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="sid" value="AC757f1654c71aa266af7f9f4cb94b66fa" />
        <add key="authtoken" value="ddd8819c1aca71da525d7aa4f9c38926" />
        <add key="username" value="ryanhernandez@ou.edu" /> <!--Username for twilio login, just in case it's needed-->
        <add key="password" value="wisnif-bIzroz-1wahqy" /> <!--Password for twilio login, just in case it's needed-->
        <add key ="dbuser" value="mart3422"/>
        <add key ="dbpassword" value ="OURocks123!"/>
    </appSettings>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=mart3422-sql-server.database.windows.net;Initial Catalog=CS4173KADB;User ID=mart3422;Password=OURocks123!;Pooling=False"/>
  </connectionStrings>
</configuration>
